@charset "utf-8";
/* CSS Document */

#flashcenter{
    text-align: center;
}
#logo {
	height: auto;
    margin: auto;
    margin-top: 20px;
    cursor:hand;
	max-width: 300px;
}
#center{
    text-align: center;
}
#text {
    width: 70%;
    margin: auto;
    color: white;
    margin-bottom: 40px;
}
input {
    width: 70%;
    height: 40px;
    margin-top: 25px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
}
#or {
    text-align: center;
    color: white;
}
.button{
    width: 50%;
	max-width: 300px;
    height: 40px;
    background-color: rgb(34,152, 211);
    color: white;
    margin-top: 25px;
}
#or {
    text-align: center;
    color: white;
}
.forgotInput {
    width: 70%;
    height: 40px;
    margin-bottom: -10px;
    margin-top: -10px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
}
#title {
	width: 80%;
	margin: auto;
	text-align: center;
	font-weight: bold;
	color: blue;
}
#subtitle {
	text-align: center;
	font-weight: bold;
}
#text {
	width: 85%;
    margin: auto;
}
.checkbox{
	float: right;
}
#btncheck{
	background-color: rgb(34,152, 211);
	color: white;
	width: auto;
	height: 30px;
}
.license {
    color: rgb(34,152, 211);
    font-family: 'Droid Sans', sans-serif;
    font-size: 13px;
}
input[type=checkbox] {
    zoom:1.5;
}


#user {
    background:  
    url(images/profile.png) left no-repeat;
    padding-left: 17px;
    height: 40px;
    width: 70%;
    text-indent: 60px;
    box-shadow: 0 0 3px white; 
    margin: 10px;
    color:white;
}
#pass {
    background: 
    url(https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-1/128/profile2-128.png) left no-repeat;
    padding-left: 17px;
    height: 40px;
    width: 70%;
    text-indent: 60px;
    box-shadow: 0 0 3px white;
    color:white;
}
#forgot{
    text-align: center;
    color: white;
}
.buttons {
    width: 70%;
    height: 40px;
    margin: auto;
}
#signintext {
    height:100%;
    width:70%;
    float:right;
    color: white;
    text-align: left;
    vertical-align: middle;
    line-height: 10px;
}
#loginButton {
    background-color: aqua;
    color: white;
    text-align: center;
    line-height: 40px;
}
#create {
    background-color: blue;
    color: white;
}
#createImage {
    margin-left: 10px;
    height:100%;
    width:10%;
    float: left;
}
.profile {
    height: 30px;
    width: auto;
}


.top{
	background-color: rgb(34,152, 211);
	padding-bottom: 20px;
	padding-top:20px;
}
.smalllogo{
	width: 80px;
	height: auto;
}
.target {
	width: 30px;
	height: auto;
}
.search{
	text-align: center;
	width:40%;
	display: block;
	margin: 0 auto;
	margin-top: 0px;
}
.wrap {
	text-align: center;
}
.left{
	float:left;
}
.right{
	float:right;	
}
.center{
	margin: 0 auto;
	display:inline;
	}
#terms{
	text-align: center;
}
#signOut{
	background-color: rgb(34,152, 211);
	text-align: center;
	width: 20%;
}
#profileImage{
	text-align: center;
	background-color: grey;
	height: 200px;
}
#profileImageInsert{
	text-align: center;
	border: dashed;
	width: 50%;
	height:150px;
	margin:auto;
}


#map{
	height: 200px;
	background-color: grey;
}
#timer{
	text-align:center;
	margin-top: -30px;
}
#directions{
	text-align: center;
	background-color: rgb(34,152, 211);
	color: white;
}
#info{
	width: 100%;
	height: 160px;
	padding-top: 30px;
}
div#container {
	overflow: hidden;
	width: 100%;
}
#lotImage {
	width: 45%;
	height: 80%;
	float: left;
	border: dashed;
	margin-left: 20px;
}
#lotInfo {
	width: 45%;
	height: 100%;
	float:right;
}
#lotName {
	font-weight: bold;
}
.margin {
	margin-top: -15px;
}
#inline p {
	display: inline;
}
.bold {
	font-weight: bold;
}
.line-separator{
height:1px;
background:#717171;
border-bottom:1px solid #313030;
}
#rates {
	width: 60%;
	height: 100px;
}
#lotDay {
	width: 45%;
	height: 100%;
	float: left;
}
#lotPrice {
	width: 45%;
	height: 100%;
	float:left;
}
#hours {
	margin-bottom: 15px;
}
#timerButton {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height:50px;
	background-color: rgb(34,152, 211);
}
#startParking {
	color: white;
	text-align: center;
}
.ratesContainer {
	overflow: hidden;
	width: 100%;
}


.circleBase{
	border-radius: 50%
}
.circle {
	width: 30px;
	height: 30px;
	background: green;
	border: 3px solid black;
	margin: auto;
	margin-top: 10px;
}
#left{
	float:left;
	height:100px;
	width: 20%;
}
#right{
	float:left;
	height:100px;
	width: 20%;
}
.centerdiv{
	float:left;
	height:100px;
	width: 60%;
}
#lotDistance {
	text-align: center;
}
div.container {
	border: 1px solid black;
	overflow: hidden;
	width: 100%;
}
#lotImage {
	width: 45%;
	height: 100%;
	float: left;
	border: dashed;
}
#lotInfo {
	width: 45%;
	height: 100%;
	float:right;
}
.results {
	margin-top: 20px;
	padding-top: 10px;
}
.results{
	width: 100%;
	height: 100px;
	border: solid;
	margin-bottom: -80px;
}